.recipeCard {
    max-width: 300px;
    margin: auto;
    border: 1px solid #66BB6A;
    padding: 8px;
    margin: 5px auto;
}

.recipeCard > img {
    width: 90%;
    margin: auto;
}

.recipeButtons {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.recipeButtons a {
    text-decoration: none;
}